[2018-02-01 11:52] phlummox opened #1 "'The super constructor to "inherits" must not be null or undefined' exception"
Hi - attempting to run with node version 8.9.4 and mongodb version 2.6.10 on Ubuntu 16.04, an exception got thrown when I attempted to start the API server:

[code]

I found that changing the version of `restify` in the dependencies in `package.json` from "4.0.x" to "4.3.x" (as suggested in [this](https://github.com/slashdotdash/node-ledger-rest/issues/6) issue report), and re-building, got the se

[2018-02-01 21:41] nero120 commented on #1
Thanks for raising this @phlummox, I'll be able to pick this up within the next few weeks. I'm having to do a lot of extra hours at work at the moment so I don't have any spare time. Though once that's out of the way I've got a new release for xBrowserSync due so I'll pick this issue up at the same time.

[2018-02-02 02:19] phlummox commented on #1
No worries, thanks for that. Out of interest, what versions of node and mongodb have you been using? I'm just about to try building & running on a docker instance using node v7.7.2, as I see that's what's being used in the Travis build. cheers!

[2018-02-02 05:17] phlummox opened #2 "No response from API using node.js 7.7.2"
Hi, just following up from the previous issue I logged, for whenever you have a chance.

I created an instance of the API server in a Docker container, using the Dockerfile attached: [Dockerfile.txt](https://github.com/xBrowserSync/API/files/1688125/Dockerfile.txt)

This installs mongodb, node.js 7.7.2 and the API server, configures mongodb, and creates a small launch script. When I run the API se

[2018-02-02 06:56] phlummox commented on #2
Ah - from a quick look at the code, it seems like what's necessary is to edit `api.js`, and replace

[code]

with

[code]

or similar. Seems to be working fine.

[2018-03-15 11:57] EvgeniBaldzhiyski commented on #1
I have solution. The restify use old version of **spdy**. You need to update this package to latest version (**spdy@3.4.7** in this moment) and then remove **/path-to/node_modules/restify/node_modules/spdy**
I hope this will help you because I spent a lot time before cought this sht.
Enjoy

[2018-03-15 12:57] nero120 commented on #1
@EvgeniBaldzhiyski wow that's awesome, good catch and thanks very much. I'm going to work on the api this weekend, upgrade the dependencies and convert to using typescript and webpack. I'll encorporate you fix into this release. Thanks again bud.

[2018-03-15 13:02] nero120 commented on #1
@phlummox sorry I missed your last message, I've just rebuilt my local environment after moving from ubuntu back to win10 (sad times). But the live server uses node v4.2.6 and mongodb v3.2.17.

I'll sort out a release that works using latest dependencies, and as I said above I then want to convert to TypeScript and webpack. Bit behind the times here!

[2018-03-27 23:44] nero120 commented on #2
Hi @phlummox, apologies for the lateness of this response. I'm currently working on `v1.1.0` of the API and will add support for enabling the service to run directly over TLS.

[2018-03-28 04:50] phlummox commented on #2
No worries, thanks for that. I quite understand being busy, I've had to put the work I was doing with the server on hold for a bit anyway.

[2018-03-28 18:20] nero120 commented on #1
Fixed in ed99fc4888f78db8a155b83de27058194145088f.

[2018-03-28 18:20] #1 closed

[2018-04-01 23:20] nero120 commented on #2
Fixed in 62f4dc6868a9ac9623464b4eb97115977df5351d.

[2018-04-01 23:20] #2 closed

[2018-04-09 06:01] cjnaz opened #4 "More details for API service setup"
This is a combination support request and documentation issue.  After I get all of this sorted out, I'd be happy to add to the readme.md.

I'm running Centos 7.  The setup instructions in the README.md could use a few more details.  Some of these may be noob questions…

- Where is it recommended to install the source files to?  To a subdir in my user home dir?  Step 1
could include the git clone c

[2018-04-09 08:38] aphe opened #5 "Using PM2 css not loaded"
I try to install on my server. the service using pm2, using 127.0.0.1:8080 and create virtualhost so i can access using my subdomain.

but all the css and js not loaded, and return
`{"code":"ResourceNotFound","message":"/css/bootstrap.min.css"}`
when i try to access directly.

and when i try to change service on the chrome extension the domain became red.

how can i tell the service is working?
th

[2018-04-09 09:34] aphe commented on #5
never mind, all i need to change is process.env.XBROWSERSYNC_DB_USER & process.env.XBROWSERSYNC_DB_PWD at the config.js

[2018-04-09 09:34] #5 closed

[2018-04-09 09:40] nero120 commented on #4
Hi @cjnaz, first of all I definitely recommend you try running [v1.1.0](https://github.com/xBrowserSync/API/tree/v1.1.0) as this has been updated for latest dependency versions, supports HTTPS and the documentation is a bit better so give that a try.

could include the git clone command. I created ~me/xBrowserSync and from this dir I did the git clone,
which created the API directory with the file

[2018-04-09 09:49] nero120 commented on #5
Hi @aphe, glad you solved your issue. I do recommend you run [v1.1.0](https://github.com/xBrowserSync/API/tree/v1.1.0) as the dependencies have been updated and it supports running the service over HTTPS. I'm currently testing before upgrading https://api.xbrowsersync.org and merging to master, but if you do find any issues please raise them here.

[2018-04-09 15:59] aphe commented on #5
[v.1.1.0](https://github.com/xBrowserSync/API/tree/v1.1.0) is beautifull.
is there a plan to support browser history as well?

[2018-04-10 07:11] cjnaz commented on #4
I installed v1.1.0, and also upgraded node.js from v6.something to v8.11.1.  On the local machine I'm able to connect to the API service at http://xbrowsersync.localhost:8080.  I'm currently starting the api from the command line as me (not root).  from the Chrome app on the local machine I try to Create New Sync I get **"Exception occurred in NewSyncLogsService.newSyncsLimitHit: Unable to determi

[2018-04-10 09:03] nero120 commented on #5
It's been requested [here](https://github.com/xBrowserSync/App/issues/13), if it's something you're interested in please do register your feedback on the issue!

[2018-04-10 09:31] nero120 commented on #4
Glad you've got v1.1.0 up and running @cjnaz!

This means that an ip address could not be determined from `req.ip` which should be [populated by express](https://expressjs.com/en/guide/behind-proxies.html). I'll add some more logging to determine why this might be. If you are using [vscode](https://code.visualstudio.com/), you can debug the API using the "Debug API" launch configuration which will

[2018-04-11 06:02] cjnaz commented on #4
In the log.txt in my above post:
"remoteAddress":"::1","remotePort":33044},"err":{"message":"Unable to determine client's IP address","name":"ClientIpAddressEmptyException","stack":"ClientIpAddressEmptyException: Unable to determine client's IP address\n at NewSyncLogsService.

I'm just starting with debugging in VS code.  In the launch.json I changed the '\\' in this line to '/' to get debug to r

[2018-04-11 06:49] nero120 commented on #4
"remoteAddress":"::1","remotePort":33044},"err":{"message":"Unable to determine client's IP address","name":"ClientIpAddressEmptyException","stack":"ClientIpAddressEmptyException: Unable to determine client's IP address\n at NewSyncLogsService.

Ah I know what's causing the problem. It's the way I'm extracting the ipv4 value from `req.ip`, and that's the ipv6 localhost value that is in your log. I

[2018-04-11 06:53] nero120 commented on #4
Fixed in e8b4f3d and 04e817b.

[2018-04-12 05:55] cjnaz commented on #4
Looks like e8b4f3d fixed the problem.  The service now runs and creates a sync.  As I touch bookmarks in Chrome I see the /var/lib/mongo/collection* file get updated.  Looks good.  I suggest closing this issue, and I may open another with my platform specific setup suggestions.
Next for me...  create a systemd service file so that the api starts with the machine.  Set up a virtual web host with ss

[2018-04-12 12:45] nero120 commented on #4
Great stuff @cjnaz!

[2018-04-12 12:45] #4 closed

[2018-04-12 23:42] nero120 commented on #4
Hi @cjnaz, I've just commit my final changes for v1.1.0 which include the remaining tests and some important stability fixes. I now consider this release fully tested and feature complete so I recommend pulling the latest code and re-installing so you can benefit from these changes.

I'm planning to release v1.1.0 to https://api.xbrowsersync.org/ over the weekend so if you do find any more problem

[2018-04-13 04:55] cjnaz commented on #4
Turns out that I'm not git literate.  I `git branch -D v1.1.0` my local copy and tried to re-download v1.1.0 with `git checkout -b v1.1.0 origin/v1.1.0`.  At this point I ended up with the earlier v1.1.0 with the IP address regular expression issue.  I then tried to pull in commits with `git fetch origin refs/heads/v1.1.0:refs/v1.1.0` which did a few updates but apparently not the commit with the

[2018-04-13 06:14] cjnaz commented on #4
Ok, I got it.  Did a git pull and found the new location on the config file and redid my log file edit.  Built and ran locally.   Did a new sync without error.  Minimal testing.

[2018-04-13 08:28] nero120 commented on #4
Wonderful stuff! I'm going to merge v1.1.0 into master tonight as from my testing it's looking nice and stable.

[2018-04-14 19:25] cjnaz opened #6 "Stuck sync on v1.1.0 API, Chrome extension v1.3.1"
The sequence I tried (may be helpful):
- Added a bookmark within a Chrome bookmark tool bar folder.  I found that I'd bookmarked a subpage of the web site I wanted.
- Copied a "separator" link I had in another bookmark tool bar folder (`about:blank` with `-------------` in the name text field) and pasted it below the above link.
- Added a second bookmark next to the first for the main page of the

[2018-04-15 16:09] cjnaz commented on #6
After waiting until the next day, a new sync worked fine.  Two possible corner cases
1. The original sync was against API v1.0.3.  Perhaps generating a new sync when changing to v1.1.0 is in order?
2. I did the follow on changes within the Google bookmarks while the sync from the first change was in progress.

[2018-04-16 02:49] issmirnov opened #8 "Unable to launch API v1.1.0"
Hey there,

I'm following the guide and am unable to run the latest release. Getting the following error:
[code]

My system information:
[code]

Error seems to be coming from [here](https://github.com/xBrowserSync/API/blob/master/dist/server.js#L92). Log file permissions are set to `777`.

Any ideas? Been looking into this in my spare time but no good suggestion yet.

[2018-04-16 09:00] nero120 commented on #8
Hi @issmirnov, I think this could be due to the service unable to create/recreate the log file on startup. Could you try setting `log.enabled` to `false` in `config/config.js` and restarting the service?

I think I need to refactor the log creation as it's quite brittle at the moment so I'll make a note to do that this week.

[2018-04-17 04:11] issmirnov commented on #8
Hey Nero, that was exactly the problem! Set the log to false and the service started without an issue.

[2018-04-17 08:12] nero120 commented on #8
Ok good stuff @issmirnov, I'll close this when I commit a fix. 😄

[2018-04-19 17:46] nero120 commented on #8
Fixed in 9b77d77.

[2018-04-19 17:46] #8 closed

[2018-04-21 22:08] ly2314 opened #9 "Add config folder to .gitignore"
As title, could you please put config folder into .gitignore?
In 1.0, the config file is in .gitignore.
Besides, I suggest not to put the version number in the config file, I think it should be in somewhere else since everyone's config files are different.

[2018-04-23 09:27] nero120 commented on #9
Good suggestion @ly2314, I suffer with the same issue! Will get this done asap and push out v1.1.2.

[2018-04-24 17:25] #9 closed

[2018-04-28 18:05] thiagodp opened #10 "Sync with Git repository"
Instead of synchronizing with a database such as MongoDB, it would be wonderful to have a way to do it with a Git repo. It would make it possible for one to create a local or a remote repository and get rid of external database-based sync servers.

One idea would be create a JSON file for every bookmark. For instance, `https://github.com/xBrowserSync` could be stored as `https_github.com_xBrowserS

[2018-04-30 09:14] nero120 commented on #10
@thiagodp it's an interesting idea, but if I'm being completely honest with you I simply don't have the time to implement this as I've got lots to do on the app side after spending a few months updating the API. I'm happy with the current API supporting only MongoDB as running off a NoSQL db is (I believe) by far the biggest use case and easiest to get up and running.

However, this would be a per

[2018-04-30 13:02] thiagodp commented on #10
@nero120 Thank you. I understand and also don't have the time to implement this *now*, but I'm really considering to do it soon.

[2018-05-03 06:34] cjnaz commented on #10
@thiagodp do you envision that this could be done while maintaining no clear text in the transport and storage?  SSL/TLS can keep the transport hidden, and the Github storage would be in a private repo, so perhaps it doesn't matter.  I personally like this aspect of the current implementation - that clear text only exists on the local machine browser (and in backups).  Versioning of bookmarks is a

[2018-05-03 14:50] thiagodp commented on #10
@cjnaz Maybe the values could be encrypted, while the keys don't. Yes, the main use case would be private repos, like those free from [GitLab](https://gitlab.com).

[2018-06-03 17:29] ours-code opened #11 "Security: remove password from environment variables"
Hello,

First of all, a big thank you for providing this solution which helps all the orphans of xmarks :)

Would it be possible to make a version of the API with the DB creds put in some file rather than in the environment variables so we can set the access to the relevant process only ?

Cheers to you guys,

[2018-06-03 17:35] ly2314 commented on #11
You can write your db credentials into config/settings.json

[2018-06-03 17:38] ours-code commented on #11
I was following the readme hence I thought the 2 were required in order for the API server to work.
Great, thank you for that fast response !

[2018-06-03 17:38] #11 closed

[2018-06-30 14:38] hadirena opened #12 "Need help, I'm trying to port API code to .NET Core"
Hi @nero120,

Currently I'm challenging myself to create similar API server using .NET Core, I already able to handle create, update, info sync request successfully but I unable to handle invalid bookmark ID correctly.

For now when xBrowserSync request for non-existing ID i would give HTTP 404 response with empty body and xBrowserSync assume that connection to server is lost as follow

![2018-06-

[2018-07-02 14:56] nero120 commented on #12
Incorrect handling non-existing ids was a bug I fixed recently in [v1.1.3](https://github.com/xBrowserSync/API/blob/v1.1.3/). If an id is provided that does not exist, an `InvalidSyncIdException` is thrown which ultimately returns a `409` HTTP status code. The [latest app version](https://github.com/xBrowserSync/App/tree/v1.4.0) will interpret this properly and display the correct error message to

[2018-07-06 14:55] hadirena commented on #12
Hi, it seems that I was using older (1.1.2) base code since when I start I still use from master branch and don't use v1.1.3 branch

Thank you for explanation I will try to match mine to your. Also I see a new createBookmark_v2 which mapped to version 1.1.3 and I quite confused how the endpoint is mapped in this block

![2018-07-06 21_52_21-d__downloads_api-master_src_routers_bookmarks router ts -

[2018-07-15 09:55] nero120 commented on #12
@hadirena sorry for not getting back to you sooner, I've been distracted by work on v1.4.0 of the client. You are correct when you say it looks at the `Accept-Version` HTTP header to determine the requested API version. The characters in the version numbers are a feature of [Semantic Versioning](https://semver.org/) the same as NPM packages:

- `~` includes all patch (3rd number) versions for the

[2018-07-18 20:12] serussell opened #13 "UnsupportedVersionException"
I'm trying to test the API with `curl`; every call returns some variation on:

[code]

If the server requires headers, can these be documentated?

[2018-07-18 20:34] serussell opened #14 "REQ: Enable handling proxy paths"
It would be helpful if `index.js` would not assume that the application is anchored at the root path, and would instead use `window.location.href` to figure out how to build a correct path in case xBrowserSync is proxied behind a different path.

[2018-07-18 22:10] serussell commented on #13
Wrong node version on my server was causing this issue.  Closing.

[2018-07-18 22:10] #13 closed

[2018-07-19 16:37] nero120 commented on #14
Try this @serussell: #09be000.

[2018-07-19 21:41] serussell commented on #14
@nero120 09be000 does the trick, thanks!

[2018-07-19 22:29] serussell commented on #14
This is closed, but one other question I'm struggling with: can you suggest why the Javascript would make unauthenticated requests for some assets?  The third column is the user part of the authentication.  This is regardless of browser (same result from Safari as Vivaldi).

[code]

This log happens to be when I hit the page from the subdomain rather than the proxied path; the results are the same

[2018-07-24 23:01] nero120 commented on #14
@serussell the xBrowserSync client does not authenticate to the API, all requests are sent unauthenticated. Your log shows that some assets are being denied with a 401 unauthenticated error (icon-128.png) whilst others are returned without requiring auth (styles.css), why that is I couldn't tell you, it would be down to your server config.

The reason xBrowserSync does not use any auth is to foreg

[2018-07-26 15:58] serussell commented on #14
@nero120, thanks for the response.  The reason for not *requiring* authentication is clear.  It seems that protecting, or restricting access to, a server, is not in a supported case. Another way of saying this is that anybody running a server commits to running a *public* server? Since the server can't differentiate between users, I can't even give preferential storage to family members, right?

[2018-07-26 16:09] nero120 commented on #14
Yes that's correct, there's currently no support to apply different rules (e.g. larger max sync size) to certain users. At the moment it's kind of a _security through obscurity_ approach if you want to run a private service (i.e. don't tell anyone else the IP/hostname! 🤐

However, auth might be something I look at in future. As I run a [nextcloud](https://github.com/nextcloud/) instance I quite li

[2018-07-26 16:55] serussell commented on #14
Auth capability is important, but it's not (IMO) the responsibility of the server. That's something easily, and probably better, handled at the proxy. However, if you want to support it, you can't avoid putting that code in the client. The browser plug-in works I would assume because it's using the browser for the connection, and the browser can handle BASIC protected services. It's only the mobil

[2018-07-26 17:02] nero120 commented on #14
Can you break down for me how you've set up your auth on the xbs service? As I understood it, if you've set up basic auth then the client would be challenged for username and password when making a request to the service - so if it's working for the browser web extension how are you doing that?

[2018-07-26 17:17] serussell commented on #14
First, sorry about any abruptness in my posts... I've been responding on my phone.

I have this running behind Caddy, on which I've set up simple BASIC authentication.

[2018-07-26 20:57] nero120 commented on #14
Ah yes of course, the browser will automatically prompt you for creds when receiving a 401/407 response. The mobile apps are running inside of a web view which (according to some googling) appears to swallow the 401 challenges, hence no pop up for entering username and password. Ok well that explains what's going on.

Could I ask you to create a [new issue in the App repo](https://github.com/xBrow

[2018-10-19 14:18] Metal-Frog commented on #12
@hadirena Would you share your code?

[2018-11-07 16:24] gerroon opened #15 "Docker install please"
Hi

It would be nice if you offer Docker install, I think if you want large numbers of adaptations the installation should be a bit easier.

thanks

[2018-11-14 01:32] mng-au commented on #15
If you guys don't mind my shameless plug 😏. I uploaded my docker-compose setup to <https://github.com/mng-au/docker-xBrowserSync-api>. Hope this will help someone 👍.

[2018-11-14 10:09] nero120 commented on #15
Nice work @mng-au!

I have prepared a dockerfile to provision just the api as a container and a docker compose file that will provision a production-ready api with db, web server and ssh certs. I'll be releasing them shortly and my plan is to move [api.xbrowsersync.org](https://api.xbrowsersync.org/) into a containerised environment using the same docker compose file.

Hopefully then, anyone who w

[2018-11-14 16:02] NachoParra commented on #15
Hi,

I also have created my own docker image that you can compile by yourself in which you will have the mongodb initialized & started so you can hear on the port 28080:

[docker-xBrowserSync-api](https://github.com/NachoParra/docker-xBrowserSync-api)

Here you can also get the basic settings file and the commands to compile & run the image.

If you need to run this behind a nginx as reverse proxy

[2018-11-14 16:06] NachoParra commented on #14
Hi guys,

Sorry to answer so late, and probably all will be resovled, by I have found this tool two weeks ago and I started working with this. I have my app behind a nginx proxy and working on a subfolder without any problem. This is the code I'0m using on the proxy:

[code]

I still have to test adding basic authorization as I have on all my other services (nextcloud, sonarr, lazylibrarian, etc.)

[2018-11-14 16:40] nero120 commented on #14
Thanks @NachoParra. I originally forgot to close this issue as the headline issue has been resolved and the auth issue is being [tracked](https://github.com/xBrowserSync/App/issues/29) in the app repo.

[2018-11-14 16:40] #14 closed

[2018-11-15 01:57] mng-au commented on #15
I think a reverse proxy like [Traefik](https://hub.docker.com/_/traefik/) will simplify SSL support. I will update my repo to include traefik for demo when possible.

[2018-11-28 23:31] nero120 commented on #15
@mng-au I've been testing Traefik and it's great! Thanks for the suggestion, it's much cleaner than configuring an nginx container with certbot! I'll release my docker files shortly as I think they're ready for distribution now.

[2018-11-30 01:58] mng-au commented on #15
Good to know it's helping you. My bad, I thought I will have the time to update the sample 😂 but it has been 2 weeks already... OMG 😂 I will try the docker files when available 👍

[2018-12-05 08:06] ZetaoYang commented on #15
@nero120 Already one week. :joy:

[2018-12-18 01:59] nero120 commented on #15
Apologies for the long wait (new babies and sick wives have to come before FOSS projects!) but I've managed to finish the Docker configuration for running an xBrowserSync API. You can grab the image on hub.docker.com here:

https://hub.docker.com/r/xbrowsersync/api

I've also included in the [api-docker](https://github.com/xbrowsersync/api-docker/) GitHub repo the required [docker-compose](https:/

[2018-12-18 01:59] #15 closed

[2018-12-18 03:08] ZetaoYang commented on #15
@nero120 Thanks, that's wonderful!

[2018-12-28 18:08] tlindsay42 opened #16 "mongoose client attempting to connect to username"
[code]

I figured out that this was because my password included incompatible special characters for a URL: `: # ? / \ %`.

Added a note to the readme to help other users and pull request following momentarily.

[2018-12-28 22:43] tlindsay42 opened #18 "Sync with DynamoDB"
Any interest in adding support for DynamoDB for the persistence tier?

[2018-12-29 16:01] tlindsay42 opened #19 "Bookmark URL truncation updates fail"
Noticed that when I attempt to update the URL of a previously saved bookmark, it consistently fails to update if it is a subset of the existing URL (eg: https://github.com/tlindsay42 -> https://github.com/tlindsay4).

Error message: `URL has already been bookmarked`

![image](https://user-images.githubusercontent.com/11078689/50540025-db3c6100-0b4f-11e9-8469-aaf9b10c8f3c.png)

Workaround: Insert a

[2018-12-30 17:12] nero120 commented on #18
No plans to support any other dbs @tlindsay42, especially since using [Docker](https://hub.docker.com/r/xbrowsersync/api) makes it so easy to stand up a fully configured service. Adding support for other dbs would increase the effort to support current/future releases for no significant functional gain.

However, I do plan to add support for syncing to other popular cloud data services, such as [N

[2018-12-30 17:12] #18 closed

[2018-12-30 17:15] tlindsay42 commented on #18
Fair enough. Thanks @nero120! 😄

[2018-12-31 03:48] tlindsay42 commented on #16
Hey @nero120, just saw a note on MongoDB Atlas that URL encoding the password should fix the issue permanently, so no need to merge the workaround note PR.  Agreed?

![image](https://user-images.githubusercontent.com/11078689/50554217-43886100-0c7c-11e9-8aff-57c664eb868c.png)

[2018-12-31 11:08] nero120 commented on #16
Agreed. I'm actually just testing different ways of creating the mongoose connection to see if I can avoid putting the username and password in the connection uri. This is what I used to do but for some reason I had issues with docker, so I'm seeing if I can resolve that now. If I can't then I'll do as you suggest and encode.

[2018-12-31 16:55] tlindsay42 opened #20 "Support for MongoDB 3.6+ DNS Seedlist Connection Format (SRV)"
reference: https://docs.mongodb.com/manual/reference/connection-string/

It would be nice to have an option for using either the standard or new MongoDB DNS Seedlist Connection Format.  Per the documentation, the key benefit is:

The simple workaround is to update the connection string in [src/core/db.ts](https://github.com/xbrowsersync/api/blob/8fddfc9e1279f072c69931a391375e10d4648832/src/core/db

[2018-12-31 18:50] #16 closed

[2018-12-31 18:53] nero120 commented on #16
Didn't work (don't know why but mongoose/mongodb don't seem to use the user/pass values when set in the connection options object rather than directly in the uri) so I'm just escaping the username and password in the uri instead.

[2018-12-31 19:04] nero120 commented on #19
Thanks @tlindsay42, as this is a client issue could you please re-open in the [app issues](https://github.com/xBrowserSync/App/issues/) list? Cheers! 🙏

[2018-12-31 19:04] #19 closed

[2018-12-31 19:15] tlindsay42 commented on #19
Whoops!  Just found that https://github.com/xbrowsersync/app/issues/62 has already been opened for this one.  Thanks @nero120!.

[2018-12-31 19:22] nero120 commented on #19
Ah yes! Thanks mate.

[2019-01-08 06:14] swestlake opened #21 "xbrowsersync beta 1.4.1beta2 fails to connect"
I began trying xbrowsersync beta 1.4.1beta2 since I could not manage to get the previous release to connect successfully to a private api server..

I can run tcpdump on the server side and attempts are made to a custom port 5600. so I know by using http://mycustom.com:5600/ , the app is trying to connect but it just appears to do syn/ack back and forth without going much beyond "Hello Client"..

I

[2019-01-08 13:34] nero120 commented on #21
I don't have the capacity to test with your configuration unfortunately. The API always supports the current LTS versions of node and mongodb (10 and 4 respectively), but should work fine with node 8 and mongojs 3 as far as I'm aware (it wasn't that long ago I was using those versions). However, I've never tested with a 32-bit setup so that could be an issue.

Couple of things to check (on the sam

[2019-01-08 20:07] swestlake commented on #21
There's an oddity when https: is first tried, http: kept failing .. The fix here (chromium) was to clear all cache and then it worked to pass the "Hello Client" application handshake. http://mycustom.com:5600/info and http://9.9.9.9:5600/info work in the web instances for chrome,chromium and firefox ... It was only chromium which needed a cache cleaning because I initally attempted to use https: f

[2019-01-08 20:12] swestlake opened #22 "small typo "Esers" on api document page"
"Esers" -- rather than "Users" typo on api document page,
https://github.com/xbrowsersync/api

[2019-01-08 20:28] swestlake opened #23 "dailyNewSyncsLimit or status.allowNewSyncs ?"
it's difficult to track similar options, the config description is also not too clear between these two settings,

dailyNewSyncsLimit --> setting this to 0 "disables all new syncs", or allows "unlimitted syncs" ?

status.allowNewSyncs  --> I suppose would be the ultimate decider whether 1 new sync is permissible.

There should be added text to dailyNewSyncsLimit's description to clarify that new s

[2019-01-09 09:23] #22 closed

[2019-01-09 09:23] #23 closed

[2019-01-09 09:32] nero120 commented on #23
Thanks @swestlake, hopefully with that commit the explanation of dailyNewSyncsLimit is clearer. To be fair, I could probably just have one option for max number of daily syncs per user, 0 being none and -1 being unlimited. Will think about that for a future release.

[2019-01-09 13:14] nero120 commented on #21
It's much easier to open chrome://bookmarks if you're comparing rather than use the xBrowserSync interface. xBrowserSync creates local bookmarks so the bookmarks structure should be identical.

It should sync all of your bookmarks. Could be an error occurred, if you enable extension debugging in Firefox and enable Debug mode in xBrowserSync you should be able to see if any errors occurred.

"(node

[2019-01-15 10:27] fantawttw opened #24 "Additional mandatory fields in settings.json for upgrade from 1.1.5"
In API version 1.1.5 I didn't have the db.username or db.password in the settings.json file and it picked up the ENV versions and used those. When upgrading to 1.1.8 however I couldn't get the API to stay running as a service it ran correctly when running the node dist/api.js command which was strange.

Adding the 'username' and 'password' to the settings file however allowed it to work again, rem

[2019-01-15 11:18] nero120 commented on #24
Hi @fantawttw, v1.1.8 should still pick up the db username and password from ENV variables if not set in `settings.json`, in fact I'm running it locally right this moment and my `settings.json` looks like:

[code]

The commit you referenced merely changed the way the username and password are provided to mongodb (in the uri rather than the options object), which is more typically for mongodb.

Dou

[2019-01-15 12:06] fantawttw commented on #24
Hi @nero120 , thanks for the quick response. You are indeed correct that when I created the service originally I followed the original instructions and created the db user in the `xbrowsersync` db
As you mentioned in the upgrade instructions I added the new `authsource` entry to the `settings.json` file. Issued the `git pull` and `npm install --unsafe-perm`

This is where things get interesting.
h

[2019-01-15 12:20] nero120 commented on #24
Ah I see! If you're running it as a linux service I believe you will have issues accessing custom environment variables (see [here](https://unix.stackexchange.com/questions/44370/how-to-make-unix-service-see-environment-variables)).

Glad you've got it working now, I'll close this.

[2019-01-15 12:20] #24 closed

[2019-01-20 15:38] BrutalSimplicity commented on #12
I wouldn’t mind helping with this. I guess I’d first like to know why you’re porting this code to .Net Core. Is there some value to doing that?

[2019-01-20 15:41] BrutalSimplicity commented on #10
This could possibly be simpler as a gist. Something like what [Vs Code Settings Sync](url
https://github.com/shanalikhan/code-settings-sync) does.

[2019-01-21 02:57] hadirena commented on #12
Hi @BrutalSimplicity ,

I started this port purely just for fun since at that time I just learn .net core and want to practice. I found this project would be suitable for my learning. TBH I just use this for my personal need

I just code up to ver 1.1.3 and didn't follow up the latest changes yet. Anyway if @nero120 allow and want .net core port to be published I would be happy to support and welc

[2019-01-21 14:23] nero120 commented on #10
Good call @BrutalSimplicity!

Just to update this, I'm now planning on adding support to sync to popular, non-xBrowserSync web services, once support for major browsers has been added and sync for open tabs and history.

Obviously support specific services would need to be implemented, but once that's done you should be able to select the service at the login screen, supply your API credentials/op

[2019-01-21 15:18] nero120 commented on #20
@tlindsay42 I can't seem to find any info on docs.mongodb.com specifying the complete list of url options for a seedlist connection string. If you have an environment set up for this, can you tell if this is a valid connection string format:

[code]

Specifically, can I still specify the database name in the connection string, I think username and password are valid as querystring params...

[2019-01-23 16:32] tlindsay42 commented on #20
If you spin up a dev cluster in MongoDB Atlas, you can test there for free.  I haven't tested DocumentDB just yet.

[2019-01-23 16:56] nero120 commented on #20
Ah cool, I'll look into it.

[2019-02-27 16:44] fantawttw opened #25 "Display status.message on the main API service info page"
When you visit the main page of the server URL you see a large logo and the text API service info
![image](https://user-images.githubusercontent.com/340697/53506518-068af000-3aae-11e9-8813-7bda4cc0ce41.png)

I would like to suggest that the logo is shrunk and that also the status.message is displayed just under the Status: Online    Version: 1.1.8 part

![image](https://user-images.githubuserconte

[2019-02-27 17:01] fantawttw commented on #25
Pull request #26 shrinks the logo

[2019-02-27 17:20] nero120 commented on #25
Good idea, thanks @fantawttw! 😄

[2019-02-27 17:24] fantawttw commented on #25
Pull request #27 added to v1.1.9 branch

[2019-03-04 15:02] nero120 commented on #25
Merged in 2ebf991894282551c837f1a29fc2dd9c428ade79.

[2019-03-04 15:02] #25 closed

[2019-04-13 09:26] ours-code opened #28 "How to trigger a sync client side for testing"
Hello,

Thank you for your work on that project.
I am running a private API and using the latest released client (FF and chrome). To test the sync between my two browser I am searching for a way to trigger a sync (I mean by that fetching new changes) from browser B when I make a change in browser A.
Is there a way to trigger the fetching from the add-ons ? A refresh rate to configure somewhere ?

[2019-04-24 13:31] nero120 commented on #28
Hi @ours-code, sorry for the delay in responding. There is a [beta](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta) currently available which includes the ability to trigger an update manually when available.

Alternatively in the current version (v1.4.0), you'd need to wait up to 15 minutes for the sync to be updated automatically, or manually disable the sync, then re-sync to pick u

[2019-04-24 13:32] #28 closed

[2019-05-22 13:04] janniks opened #29 "Integrating folder structures"
I love the current tags-feature, but are there plans for implementing folder structures?

As a user I might want to sync folder structure between different browsers/computers and access bookmarks via folders

e.g. `parent/something/` contains all bookmarks that I sorted into `something` as I don't always want to search for a bookmark that I know, but rather a topic I previously sorted _(would be e

[2019-05-22 13:06] #29 closed

[2019-05-22 13:06] janniks commented on #29
Closed in favor of using the web-form on the website - Sorry

[2019-06-24 08:11] #20 closed

[2019-07-15 07:45] nergdron opened #30 "rest api docs?"
just discovered this project, and seems like exactly what I've been looking for. however, the one thing I can't seem to find is docs for the rest api itself, not just how to setup the server, but what the api looks like so i can write clients for it. is this somewhere other than the code? :)

[2019-07-15 08:23] nero120 commented on #30
Hi @nergdron, the docs are displayed on the api default page, e.g: https://api.xbrowsersync.org/

[2019-07-15 08:23] #30 closed

[2019-07-15 08:32] nergdron commented on #30
Ahhh so simple, nice! maybe just note that in the README.md here? but that's very handy, thanks so much for making this great tool!

[2019-07-15 08:39] nero120 commented on #30
[Done](https://github.com/xbrowsersync/api/blob/master/README.md#api-documentation).

You're very welcome @nergdron, hope you find it useful! 😄

[2019-09-26 17:55] Amolith opened #31 "Interferes with Firefox keyword search"
I recently discovered that you can `Add a Keyword for this Search` when right-clicking a search box. After defining the keyword, you can type it in the omnibar then your query, press enter, and you're redirected to that site with that search query. It's similar to DuckDuckGo's !bangs but faster and more direct. After setting xBrowserSync up on [my server](https://xsync.nixnet.xyz) and using it for

[2019-10-08 15:47] nero120 commented on #21
Closing this as it's been a long time since it was raised, respond if any objections!

[2019-10-08 15:47] #21 closed

[2019-10-08 15:57] nero120 commented on #31
Hi @Amolith, yes unfortunately this particular functionality is dependent on Firefox's native bookmarks keywords, which xBrowserSync cannot sync as [Mozilla have not implemented an API to access them](https://bugzilla.mozilla.org/show_bug.cgi?id=1225916):

![image](https://user-images.githubusercontent.com/4236238/66411740-22fbed00-e9ec-11e9-8eed-081b935a95c5.png)

When performing a "pull" sync, x

[2019-10-08 15:57] #31 closed

[2019-10-08 17:28] Amolith commented on #31
That's unfortunate :confused: I'll keep an eye out to see if they ever release an API. Thanks anyway!

[2019-10-09 18:22] vsatmydynipnet opened #32 "1.1.10 do a backup before using it"
Hi.
updated to 1.1.10 and lost kinda 50% of my bookmarks Firefox 1.5.0. Was able to save booksmarks from one device, now investigating with creating a new sync, but firefox addon says can't connect, but its green when changing the service.

Will report if more details are knows.

[2019-10-09 18:37] vsatmydynipnet commented on #32
Update: Testet Chromium + Android and these one works.

[2019-10-09 18:44] vsatmydynipnet commented on #32
Firefox 68.1.0esx addon 1.5 can  not create new sync. says can not connect to service. if using an already created one, it only shows kinda the half of the bookmarks. rest is missing.

I will restore the sync server from backup to get it going again.

[2019-10-09 19:02] vsatmydynipnet commented on #32
Full server VM restored with 1.1.9. FF connects, creates sync, all fine again. There mus be a bigger problem in 1.1.10.

[2019-10-10 05:20] nero120 commented on #32
Can you connect/creat a new sync on https://api.xbrowsersync.org?

[2019-10-10 06:46] vsatmydynipnet commented on #32
Will test as soon as  i am back to the office. 8:45 am here, will be back ~ 3pm. Will report back. Running  non-standard port on my API server.

[2019-10-10 07:45] vsatmydynipnet commented on #32
just stopped and tested.

Yes, on https://api.xbrowsersync.org it works.

1.1.10 non standard port problem?

[2019-10-10 09:20] nero120 commented on #32
Yes it could well be a custom port issue. Are you using the docker image?

Also, I have a feeling the loss of bookmarks was an app issue, not api. If you can attach the log to this issue I'll take a look.

[2019-10-10 13:02] vsatmydynipnet commented on #32
No I running the API in FreeBSD VM on PROXMOX virtualization.

I am sorry, i have resetted and recovered server and all systems so  bookmarks are here again. Using 1.1.9 + FF68.1.0+1.5.0 looks ok. Not missing bookmarks at the moment and have a full backup now exportet too.

[2019-10-24 15:17] nero120 commented on #32
Sorry @vsatmydynipnet, lost track of this issue as have been very busy. Glad you recovered everything. So am I correct in saying that you're running v1.1.9 with a custom port? Are you able to paste your `settings.json` file contents here so I can compare?

[2019-10-25 16:26] vsatmydynipnet commented on #32
I still love xbrowsersync :-) Missing 1.5.0 for Android to have the bookmarks synced there to. 1.4.0 cant read my syncs. But it is a real great solution. Thank you for it. Here the settings file, changes hostname.

{
  "allowedOrigins": [],
  "dailyNewSyncsLimit": 3,
  "db": {
    "authSource": "xbrowsersync",
    "connTimeout": 30000,
    "host": "127.0.0.1",
    "name": "myname",
    "username":

[2019-10-26 12:43] nero120 commented on #32
Ah glad to hear it! Thanks for this, I'll do some local testing based on these settings, see if I can track down the HTTPS/custom port issue.

[2019-10-28 10:40] nero120 commented on #32
@vsatmydynipnet if you disable https does it connect successfully to the service over http?

[2019-10-28 12:37] vsatmydynipnet commented on #32
I am sorry, localhost deas not work because  service is running on an FreeBSD system without desktop. SSH access only.

I have the problem i fully restored 1.1.9 and have overwritten the Proxmox virtual machine. At the moment there is no 1.1.10 running here. Since restoring 1.1.9 all is fine again.

[2019-10-29 11:38] nero120 commented on #32
@vsatmydynipnet right, I've tested running the api v1.1.10 over HTTPS with a custom port, and everything works as it should for me. Here is my `settings.json`:

[code]

So I'm running under a different domain (api-https-local.xbrowsersync.org) but the same port 9993, and the domain api-https-local.xbrowsersync.org is pointing to localhost in my `hosts` file.

If I connect to https://api-https-loca

[2019-10-29 11:39] #32 closed

[2019-10-29 12:21] vsatmydynipnet commented on #32
Rich, I am under load at the moment. As soon as I et some free time I will try to update to 1.1.10 again to continue testing.  Thank you for your help.

[2019-11-13 20:51] lordvalium opened #34 "Support xbrowsersync"
Hi,
i want to support the project with my server. Have docker running on ubuntu 18.04.

- Is it possible to just take my IP in .env?

- this tutorial https://github.com/xbrowsersync/api-docker/blob/master/README.md points to https://github.com/xbrowsersync/api and vice versa.

Can you just give a simple tut how to use the docker? Dont understand it tough :)

thx

[2019-11-18 21:23] nero120 commented on #34
Hi @lordvalium, thanks for your interest in xBrowserSync! I strongly recommend following a docker tutorial like [this one](https://www.tutorialspoint.com/docker/index.htm) to get to grips with what docker is and how it works before trying to run an xBrowserSync service in docker. Also, it's a good idea to understand what docker compose is as well, tutorial [here](https://www.tutorialspoint.com/doc

[2019-11-18 21:23] #34 closed

[2019-12-18 10:39] ovizii opened #35 "Need some hand-holding getting started with my docker-compose.yml"
Hi there,

I have edited and adapted your docker-compose.yml file but before I start posting and explaining it here maybe you can give me a hint how to debug it.

the compose file starts mongo and xbs. mongo runs fine, xbs stops quite fast after starting and "docker logs -f xbs" does not show any log output.

How can I get some decent log output to debug my problems?

I noticed the default setting

[2020-01-07 23:48] nero120 commented on #35
Hi @ovizii, unfortunately I'm not a docker expert so I'm probably not the best person to help in this regard.

[2020-01-07 23:48] #35 closed

[2020-01-13 03:16] mistergibson opened #36 "Question : How does one run xbrowsersync at a relative url?"
I wish, well - actually required, to run xbrowsersync api at a relative url. So:

https://mysite.org/**xbrowsersync**

Is this possible? If so, how do I set that up? If not: why not, this is a common IT issue?

[2020-01-13 04:50] mistergibson opened #37 "status.online = true ignored"
I have status.online = true in config/settings.json but when I when I go to the status page it reads offline. Is there a setting elsewhere I'm missing?

If not: I think I found a bug.

I did a fresh git clone from this repo on 2020.01.12 at 8pm PST

It built, it passed all its tests, and it serves up the home page fine. But I cannot figure out HOW to get the service in an ONLINE status. Any clues

[2020-01-13 07:17] nero120 commented on #37
Can you post the the result of `/info` and your `settings.json` please?

[2020-01-13 08:33] mistergibson commented on #37
{"code":"NotImplementedException","message":"The requested route has not been implemented"}

[2020-01-13 09:30] nero120 commented on #37
Thanks, will do some testing and get back to you.

[2020-01-18 05:02] nero120 commented on #36
I'll add support for relative paths for the next release.

[2020-01-18 05:06] #36 closed

[2020-01-18 05:07] #37 closed

[2020-01-18 05:10] nero120 commented on #37
The issue is occurring because you're attempting to run the service on a relative path other than `/`. I've now added support for using relative paths, to resolve the above you'll need to add `server.relativePath` to your `settings.json` with a value of `/xbrowsersync/`.

[2020-01-19 07:24] mistergibson commented on #37
Works like a charm now -- thanks so much for making this change :)

[2020-01-19 07:38] mistergibson commented on #37
Odd thing: it still says "offline" even though it is indeed online and working -- just thought I'd give you a heads up.

[2020-01-19 18:55] nero120 commented on #37
No worries @mistergibson, FYI I'll be releasing v1.1.11 shortly once I've updated the docker assets.

[2020-02-23 14:08] githlp opened #38 "buffer.js throw new ERR_INVALID_ARG_TYPE"
i followed the instructions on https://github.com/xbrowsersync/api with v1.1.11 but when calling
$ node dist/api.js
i got
` api $ **node dist/api.js**
  buffer.js:327
  **throw new ERR_INVALID_ARG_TYPE**(
  ^

 TypeError [ERR_INVALID_ARG_TYPE]: The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received function hidden
    at Function

[2020-02-23 18:05] nero120 commented on #38
Can you run with node.js 10.x and see if this resolves this issue? I usually target LTS but haven't had time to check under 12.x yet, definitely not 13.x.

[2020-02-24 09:32] vsatmydynipnet opened #39 "1.1.11 failed to start"
I tried to upgrade from 1.1.9 to 1.1.11 but results in following error after update:

{"name":"xBrowserSync_api","hostname":"syncme.mydomain.tld","pid":721,"level":50,"req":null,"err":{"message":"Cannot read property 'length' of undefined","name":"TypeError","stack":"TypeError: Cannot read property 'length' of undefined\n    at pathtoRegexp (/usr/home/xbrowsersync/API/node_modules/path-to-regexp/i

[2020-02-24 09:36] vsatmydynipnet commented on #39
Sorry, I close that again, but for reference i have overseen:

diff -u settings.default.json.1.1.9 settings.default.json.1.1.11
--- settings.default.json.1.1.9	2019-06-24 10:50:46.879551000 +0200
+++ settings.default.json.1.1.11	2020-01-18 06:06:27.000000000 +0100
@@ -6,7 +6,7 @@
     "connTimeout": 30000,
     "host": "127.0.0.1",
     "name": "xbrowsersync",
-    "useSRV" : false,
+    "useSRV":

[2020-02-24 09:36] #39 closed

[2020-02-28 13:33] vsatmydynipnet commented on #32
I still have this problem with 1.11:

- after I added the first folder and bookmark it deleted around 50% of the bookmarks on firefox.
- trying to create a new sync does not work too
- running 1.11 + syncing it to browsers works, but as soon as 1 folder/bookmark is added i am toasted :-)

Going back to 1.0.9

[2020-02-28 13:45] nero120 commented on #32
It's not the API, it's an app issue so should be in the app repo. Create an issue there and attach your log file please.

[2020-02-28 13:54] vsatmydynipnet commented on #32
I move back to 1.0.9 for now, need to restore my backup on 5 boxes :-)

app worked great till one hour ago with 1.0.9

[2020-02-28 14:09] vsatmydynipnet commented on #32
1.1.9 sorry.
- Creating a new sync does not work here too
- connected to an existing sync
- restoring bookmark backup
- waiting for sync to finish so hopefully all systems are ok again
- then will retry to add a folder/bookmark

can you advice how to setup logging in a way it is helpful for you?
-

[2020-02-28 14:11] vsatmydynipnet commented on #32
ok, lost, even going back to 1.1.9 fails now. please advise how to setup logging and i will open a issue in ap and remove the addon from my browsers for now.

[2020-02-28 14:16] nero120 commented on #32
@vsatmydynipnet go to the settings panel and press the download log button!

[2020-03-23 10:48] policeman16 opened #40 "Docker image - change ports"
Hi!

I'm trying to run private xbrowsersync API but I have one problem with docker-image. On the same server I have other service on 80 and 443 ports. How can I change ports of xbrowsersync's docker-compose?

[2020-04-09 23:26] pstein opened #41 "Questions about own xBrowserSync server"
As I read users need not use the publicly available xBrowserSync servers but can setup and use their own xBrowserSync servers in local LAN.

Some questions about that:

Users are  directed to the following page for the corresponding server:

https://github.com/xbrowsersync/api/releases

I found only source files. Is there no pre-compiled server binary package (for Windows)?

The label of this proj

[2020-04-15 19:01] anibal-aguila opened #42 "private instance"
Hi, is possible to use it allowing only a certain of users?
thanks in advance,

[2020-04-15 20:08] nero120 commented on #42
@anibal-aguila not sure what you mean exactly, there are no "users" in the traditional sense, everyone is anonymous. However, some options:

- To prevent access to the server completely, lock down access to a specific IP address/range.
- To prevent "strangers" creating new syncs, you could set the `status.allowNewSyncs` setting to `false`.

Hope that helps.

[2020-04-15 20:08] #42 closed

[2020-04-15 20:08] nero120 commented on #42
@anibal-aguila not sure what you mean exactly, there are no "users" in the traditional sense, everyone is anonymous. However, some options:

- To prevent access to the server completely, lock down access to a specific IP address/range.
- To prevent "strangers" creating new syncs, you could set the `status.allowNewSyncs` setting to `false`.

Hope that helps.

[2020-04-15 23:08] anibal-aguila commented on #42
@nero120 great! that is exactly what I mean.
prevent "strangers" creating new syncs while I can check who the service run.
one more thing, how I can reduce the Update/Sync time?

![image](https://user-images.githubusercontent.com/49025536/79397504-8740d000-7f7e-11ea-86a5-21d6d20bef12.png)

Thanks ;)

[2020-04-15 23:21] nero120 commented on #42
Not possible currently, it's fixed at every 15 minutes within the app. There's an existing [feature request](https://github.com/xbrowsersync/app/issues/110) to make it customisable.

[2020-04-23 16:40] aelisya opened #43 "Add OTP or U2F (fido) for better security"
I would like it to be possible to add the possibility to activate U2F or OTP, in order to request a verification when connecting.
This method would allow us to protect our bookmarks in a more efficient way without endangering the anonymity of the user.

[2020-04-24 07:03] nero120 commented on #43
@aelisya thanks for the suggestion, however in the case of xBrowserSync MFA/2FA adds no extra security - I'll explain why.

Users in xBrowserSync are completely anonymous, i.e. there is no information that ties the data stored by the service (in the database on the server) to the real person that is the user. Because of this anonymity, when you log in to xBrowserSync, your login credentials are no

[2020-04-24 07:03] #43 closed

[2020-05-06 18:17] julianroetter opened #44 "node server ignores server.host config key"
I set up a self hosted api and it works really good and it is behind a nginx ssl proxy. Port 8080 is not exposed to the internet but I would like to let it only open the port on 127.0.0.1. As described in the documetnation I set up a settings.json in the folder api/config/ with the following content after seeing that the default (127.0.0.1) wasn't used:
[...]`  },
  "server": {
    "host": "127.0.

[2020-05-08 19:11] nero120 commented on #44
@julianroetter actually the `server.host` config setting is kind of redudant, I will likely remove it in the next release. The service always runs on localhost so whatever `server.host` is set to, you should be able to access the service *locally* at `http://127.0.0.1:8080`.

[2020-05-08 19:32] julianroetter commented on #44
Thanks for the info. I rebooted the server because I had deactivated ipv6 but that let some other docker containers fail so I just reactivated it and now the node server binds to localhost again. I will close the ticket.

[2020-05-08 19:32] #44 closed

[2020-05-25 08:48] pstein opened #45 "xBrowsersync server space calculation and combination?"
I am interested to sync two (or three) Firefox installations over an xbrowsersync service.

As I read on Home Page all sync servers have a size limit ranging from 1MB up to 12MB.

Since I have a huge bookmark dir tree of approx 7000 bookmarks and (sub)folders this could be critical.
I have no idea how to calculate the necessary size in MB for me.

Are the bookmarks compressed before syncing?
That

[2020-06-05 17:33] nero120 commented on #45
Yes the data is compressed before being encrypted and sent to the server. If at that point you are attempting to sync too much data than the service allows you will get an error.

Not easily!

If you need more storage then you can either [run your own service](https://github.com/xbrowsersync/api/) or if you [become an xBrowserSync patreon](https://www.patreon.com/xbrowsersync) at the watchdog leve

[2020-06-05 17:33] #45 closed

[2020-07-08 08:50] viharm opened #46 "Multiple changes trigger full reset and resync"
### Issue description

Whenever I make many (sometimes even as low as two) changes to my bookmarks, the client triggers a full reset and resync of all bookmarks from the server. Am I doing something wrong? Is there a configuration setting I can change to fix this?

### Environment

#### API (server)

API service version: `1.1.10` (self hosted docker image).
MongoDB version: `4.2.0` (docker image).

[2020-07-08 09:24] nero120 commented on #46
This is likely an extension issue not API, can you post the log from the extension please?

[2020-07-21 21:44] viharm commented on #46
I'm afraid I don't know how to get the logs from extensions. Can you please point me in the right direction?

[2020-07-25 20:30] nero120 commented on #46
Open the xBrowserSync extension window, click on the cog icon in the top right to get to the Settings panel, then scroll down to Issues and click the Download Log button.

[2020-07-28 00:09] protocolist commented on #46
I have this same issue and i'm happy to assist with troubleshooting if you need.

[2020-07-28 12:41] skydiverscott opened #47 "Deleted Bookmarks on Brave Browser are not synced to Chrome"
I am running 1.1.12 on QNAP NAS via Docker-api XbroweserSync.  I hvae Chrome and Brave browser xmark sync connected and working (I sync'd my Brave browser toolbar first then connected chrome and overwrote by Chrome bookmarks).

I then did some cleanup of my Brave bookmark bar deleting bookmarks.  I saw as I deleted them the XBrowersync extension sending the bookmark changes to my server.

Checking

[2020-07-30 13:04] skydiverscott commented on #47
Issue was resolved.  Turned off Company default Bookmark syncing in my Chrome Browser

[2020-07-30 13:04] #47 closed

[2020-07-30 13:17] nero120 commented on #46
@protocolist can you post your log please?

[2020-07-30 13:22] skydiverscott opened #48 "Support in Dissenter Browser"
Would like support in the Dissenter browser.  Is this on the road-map?  It is a Chromium based browser so support should be straightforward

[2020-07-30 13:26] nero120 commented on #48
Hi @skydiverscott, not heard of Dissenter and it's not on the roadmap, though I will check it out as it looks interesting. In any case, I'm only officially planning to support major browsers as every extra browser supported adds more complexity (even if they are chromium based) and therefore more work with every release.

Any minor browser that's chromium-based should work fine with xBrowserSync a

[2020-07-30 13:26] #48 closed

[2020-07-30 14:28] protocolist commented on #46
Sure. I cleared the log and then attempted an operation where I moved three bookmarks from one folder to another. This immediately triggered the reset and sync, and the three bookmarks remained in the original location. Browser is Edge 84.0.522.40, I have also experienced the problem on ungoogled-chromium 81.0.4044.138.

Let me know if you need more detail.

[xbs_log_20200731002309.txt](https://gi

[2020-07-30 16:43] nero120 commented on #46
@protocolist yes the log confirms it was a multiple move that triggered the re-sync. did you move the bookmarks to a folder that was a sibling of the bookmarks?

[2020-07-30 22:24] protocolist commented on #46
That's correct. I've just done some experimentation moving the same three bookmarks around:

Moved down to a nested folder from its parent folder - triggers reset
Moved up from a nested folder to its parent folder - triggers reset
Moved up from a nested folder to a different folder at the same hierarchical level as the parent folder - okay
Moved up from a nested folder to the root folder - okay

I

[2020-07-31 05:59] viharm commented on #46
@protocolist , unfortunately I haven't been able to test it systematically as you have. However the symptoms are very similar. Are you using your own API server, or an existing public service?

@nero120 , unfortunately, I had to upgrade my OMV installation, so couldn't get to my log as requested. I will do so as soon as I can. However I can confirm that the symptoms are very similar to those descr

[2020-07-31 06:05] protocolist commented on #46
I'm on the official API, https://api.xbrowsersync.org/

[2020-07-31 08:45] nero120 commented on #46
@viharm, this issue is not linked to the API, it's a bug in the app. This issue is in the wrong repo so I will move it to app. Can you please do the following test to confirm:

1. Whilst synced, open the native browser bookmark manager.
2. In any folder, create two bookmarks and one folder.
3. Select both bookmarks and drag them into the sibling folder.

@protocolist your issue is actually already

[2020-08-25 00:05] mistergibson opened #49 "Question : When do you plan to implement Form.Data/Password storage as well as bookmarks?"
Dear Developers:

Love what you've made, but would really love a full replacement to the online sync services. For that I'd need full-on password and form data sync as well. What does your road-map say so far as implementing all that? I had heard somewhere it was in the grand plan, but haven't heard much about it since.

Thanks.

[2020-08-25 09:59] nero120 commented on #49
Hi @mistergibson, you can check the current roadmap [here](https://github.com/xbrowsersync/app/wiki/Roadmap).

No password sync is planned, for the reasons that there is currently no [web extension API(https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API) that I can use to access password data stored in the browser, but also personally I do not believe online password syncing

[2020-08-25 09:59] #49 closed

[2020-09-07 09:20] skydiverscott opened #50 "API Service admin portal"
Would like be able to see list of all individual sync ID, storage use and qty of sync'd browsers per sync ID on my API Docker server

[2020-09-07 09:25] nero120 commented on #38
Closing this as no response from issue opener.

[2020-09-07 09:25] #38 closed

[2020-09-28 17:43] AbramTTP opened #51 "Self-Host on SFTP/WebDav"
Hi,

I found this good stuff on PrivacyTools.io but I would love to eventually able to sync my bookmarks and tabs over my own FTP hosted on my own hardware at home.

Do you foresee this to be available in the future? Thank you.

[2020-09-29 10:54] nero120 commented on #51
It's not out of the question but I would suggest the use-case is not particularly common so is not something I would add to the roadmap. If another dev wanted to implement it then that's fine by me.

The client app will support adding different sync service types (other than the default "xBrowserSync" service) from v1.6.0 (the upcoming release), but I don't plan to add additional sync service type

[2020-09-29 10:54] #51 closed

[2020-10-14 20:45] Columbus240 opened #52 "Allow connections over Unix Sockets"
I’m trying to self-host xbrowsersync, and except the following nitpick it worked without problems.
I wanted to connect xbrowsersync using Unix Sockets to mongodb and to the reverse-proxy (nginx).

Since this approach isn’t documented, and I didn’t look at the code, I don’t know how to do it.

I tried setting the config option db.host to /var/run/mongodb/mongodb-PID.socket but that didn’t work.
I d

[2020-10-16 09:42] nero120 commented on #52
@Columbus240 I have no capacity to do this unfortunately. However if you'd like to submit a pull request if you figure it out that would be 👌!

[2020-11-04 18:00] Valinwolf opened #53 "MongoDB SSL Connection"
It seems that xBrowserSync does not support an SSL/TLS encrypted MongoDB connection. With my MongoDB being remote, this is an absolute requirement.

[2020-11-17 10:33] Columbus240 commented on #52
Oops, I pushed the wrong buttons.

No problem. Maybe I or somebody else will do it someday.

[2021-01-27 01:48] JBFUK opened #55 "Safari and iOS support?"
I was really excited about this extension which might help me finally dump Chrome, but alas, no Apple support.  So close..

Are you really sure you won't support iOS and Safari because of a silly $99/yr licensing cost?

Us Apple users are clearly not going to migrate to an inferior platform (android) in order to get this extension but I'm sure there are many who would happily donate to the project

[2021-02-03 19:59] maitrenageur commented on #55
Yes, I'm on the side by @JBFUK . For me a Safari support would be enough for the first step. And I would donate for a license.

[2021-02-03 23:52] nero120 commented on #55
Sorry guys, it's not just the dev license but also it's the time and effort to develop and maintain a completely different codebase because Apple decided they didn't want to use the common Web Extensions platform for Safari. The only thing that allows me to develop and support xBrowserSync is that I can use a common codebase for all platforms, but Apple breaks this. Plus, in order to deploy apps t

[2021-02-03 23:52] #55 closed

[2021-02-04 07:15] maitrenageur commented on #55
@nero120 Thank you for your feedback. Sorry, what is the meaning of PWA?

[2021-02-04 08:32] nero120 commented on #55
@maitrenageur sorry, it stands for [Progressive Web App](https://superpwa.com/doc/test-pwa-ios-devices/). Essentially, it's a way of making a web site look and feel a bit more like a native app, it's a great compromise that avoids having to rebuild a native version of an app.

[2021-02-04 10:05] maitrenageur commented on #55
@nero120 Means, as interims or bypass solution a planned web based app (PWA) shows my bookmarks in a direct dialogue with my xBrowserSync-Server. This PWA is parallel open (as separate App) to my Browser (e.g. Safari) and i can manage (new) bookmarks between both apps, the browser and the PWA. Is this correct explained?

[2021-02-04 10:08] maitrenageur commented on #55
@nero120 Sorry, please can you reopen this topic as issue?

[2021-02-04 10:44] nero120 commented on #55
@maitrenageur sorry Safari/iOS support is never coming so the issue should remain closed. Feel free to continue to post messages here though.

The PWA is a separate component and is supported by multiple platforms, including iOS. It will have the same functionality as the web extension.

[2021-02-24 14:00] DevPre24 commented on #41
Hi, i know i'm necroposting but this could be useful to those reading in the future. I just set up my own private xbrowsersync on a kubernetes cluster and thought could give some advice.

 I'd recommend setting it up using docker (you can find the image on docker hub), you could do so on windows but it's more tricky and depending on the version it might run as a VM instead of WSL, so i guess a lin

[2021-03-23 16:21] mrtootoo opened #57 "Password Sync"
I know there are several password back up programs.  And Mozilla probably would not like another as they always push their sync.  But has there been any thought (if it is even possible) to sync Firefox passwords.  So when the bookmarks are updated, so are the passwords?

[2021-04-01 19:55] nero120 commented on #57
Not going to happen I'm afraid. This extension uses the web extensions api which does not expose password data.

[2021-04-01 19:55] #57 closed

[2021-04-01 20:21] #53 closed

[2021-04-06 13:15] lancewhit opened #59 "Service request limit hit error when syncing"
**Describe the issue you are experiencing**
I've been using xBrowserSync for several months with Chrome, Firefox, and Edge, and it's been working smoothly, until now. When I make a bookmark change in one browser, I get the following notification: "Service request limit hit. Sync has been disabled, re-enable Sync to resume syncing." If I then click the toolbar icon for XBrowserSync, I see the same

[2021-04-06 13:26] nero120 commented on #59
@lancewhit I've disabled throttling on the service for the time being, that should hopefully resolve the issue until I can fix the underlying bug. Can you let me know if you still see the issue?

[2021-04-06 13:38] lancewhit commented on #59
Thank you. I rebooted my PCs and signed back in. Opened all the browsers, and the syncing is working again with no error message, Looks good at this point. Will let you know if the problem pops up again.

[2021-04-06 13:40] nero120 commented on #59
I found the culprit! My bad, missed a config step when doing the upgrade to v1.1.13. No bugs to fix so all good now! You shouldn't see this issue anymore but if you do please report back here!

[2021-04-06 13:40] #59 closed

[2021-04-06 13:43] lancewhit commented on #59
Great. Thanks for checking and thanks for such a quick response.

[2021-04-25 21:48] sbogomolov opened #60 "xBrowserSync API implementation using Google Cloud Functions"
Hey. I have implemented the minimal subset of the functionality in Google Cloud Functions (with Firestore back-end). If you think it is worth to mention this somewhere, feel free. Here are the relevant repos:

https://github.com/sbogomolov/xbrowsersync-gcf
https://github.com/sbogomolov/xbrowsersync-gcf-terraform

[2021-04-28 15:43] nero120 commented on #60
This is awesome, thank you @sbogomolov! I've added a link to your implementation repo to the [README](https://github.com/xbrowsersync/api/blob/master/README.md#google-cloud).

[2021-04-28 15:43] #60 closed

[2021-05-16 06:35] A1994SC opened #61 "docker swarm - Can't find DB"
I am having issues with my stack being deployed to but the api can not find the mongodb server (both within the scope of the mongo stack and outside).
The following is the error being thrown by the xbs_api containter:
[code]

The xbs-stack.yml
[code]
Lastly the setting.json
[code]
worth noting that "mongodb_mongodb" does work as the host because that is the hostname of the mongo server within the

[2021-05-18 19:09] A1994SC commented on #61
I did end up fixing the issue by changing the `db.host` to "https://mongo.<url>".

[2021-05-19 07:21] nero120 commented on #61
@A1994SC if you run a terminal to the api container (`docker exec -it api ash`) are you able to resolve the db hostname via `ping mongodb_mongodb`?

[2021-05-22 16:31] A1994SC commented on #61
For _security_ reasons I have "xbs" admin rights to only "xbrowsersync". So I had to change the `db.authSource` to "xbrowsersync" and then it worked perfectly.

[2021-05-22 16:31] #61 closed

[2021-05-23 15:20] nero120 commented on #61
Glad to hear it @A1994SC!

[2021-05-29 08:23] zhonghuiwen commented on #38
Yes downgrading to node.js 10 worked, 12 doesn't

[2021-07-05 16:08] harleypig opened #63 "Bunyan not found when starting service"
I am on an archlinux system with all packages up to date. Nodejs and MongoDB are installed.

Mongo is configured per your readme and `npm install --unsafe-perm` has been executed.

When starting the service I get the following:

     $ node dist/api.js
    node:internal/modules/cjs/loader:930
      throw err;
      ^

    Error: Cannot find module 'bunyan'
    Require stack:
    - /home/harleypig/

[2021-07-05 16:38] nero120 commented on #63
You shouldn't need to run `npm install bunyan` since bunyan is a dependency of xbrowsersync-api.

Can you run:

[code]

After that, does `/home/harleypig/projects/xbrowsersync-api/node_modules/bunyan` exist? Also what version of `node` are you running?

[2021-07-05 18:58] harleypig commented on #63
$ node --version
    v16.4.1

The `node_modules` directory does not exist in the repo directory (or any directory in the repo tree) after running `npm install --unsafe-perm`. Nothing new is installed in `/usr/lib/node_modules` and the only other places I can find with that directory name are under other projects.

When running `npm install --unsafe-perm`  (from the top level of the repo) hangs at

[2021-07-05 19:47] nero120 commented on #63
Ah ok. Remove `loglevel=silent` from `.npmrc`, that should output better logging, then run:

[code]

(leave off `--unsafe-perm`)

I think `unsafe-perm` was needed on linux due to `node-sass`, but this may have changed so try without.

[2021-07-05 23:13] harleypig commented on #63
Still didn't install anything, but at least I have an error log now. I wasn't able to attach the file. Github doesn't seem to like the raw file (too large?) or tar.xz, tar.gz, gz, or zip files.

Two sections seem to me to be significant. The first includes 1k lines of what look like commands (g++, ln, cp, mv, etc) but no results and the second looks like a related failure.

    1905 error path /ho

[2021-07-05 23:24] harleypig commented on #63
I just noticed it's claiming to install files into `node_modules` under the repo, but no such directory exists. I ran the `npm install` command and watched for the `node_modules` to show up, which it did almost immediately and disappeared shortly before the end of the run.

[2021-07-10 11:40] harleypig commented on #63
bump

[2021-07-10 15:54] nero120 commented on #63
Not sure what you want me to say, this isn't an xBrowserSync issue, it's a node-sass/npm/environment issue. Perhaps check [here](https://github.com/sass/node-sass/issues/)?

[2021-07-19 03:32] harleypig commented on #63
I'm not sure how this is an environmental issue.

When I installed (using `npm install node-sass`) it installs just fine in a work directory.

When I copy the package.json file to an empty directory and run `npm install` I get the same error.

I'll work on figuring out which combination is causing the issue.

[2021-07-20 08:25] nero120 commented on #63
This isn't xBrowserSync code, it's the node-sass install process that's having the issue:

[code]

`scripts/build.js` is `node_modules/node-sass/scripts/build.js`. What do you expect me to do about this, I don't look after that project. You need to create an issue in the [node-sass](https://github.com/sass/node-sass/issues/) repo.

[2021-07-20 08:25] #63 closed

[2021-07-21 07:27] nero120 commented on #38
@zhonghuiwen thanks for confirming, latest release v1.1.13 should run fine on current node.js LTS (14).

[2021-07-22 22:39] Msouza91 opened #64 "Generating destructive operations in a device while creating data on another borks an ID"
I was faced with this issue in a struck of bad luck.
Was adding some bookmarks from my mobile and decided to delete one that was in my face on the notebook, but that messed up my ID it seems, not sure if it is really an API problem or an issue with the Firefox Extension.
I assume it is an API problem because the item I deleted on the notebook never got synced to my mobile and whenever I tried to l

[2021-07-22 22:44] Msouza91 commented on #64
Just to be clear, if I don't remove the extension it creates pop-ups indefinitely, sync stops completely on both devices.

  Is there a way to delete an ID? Or it happens automatically when it goes unused for a certain amount of time?

[2021-07-23 17:42] test-0-zero opened #65 "Allow multiple account (Sync ID) and selective folder to sync"
I think it’s a good idea to have multiple accounts and the ability to select folders to sync.

That way you can share whatever you want with whoever you want.

It would be the perfect service.

Thanks a lot.

[2021-07-31 19:46] Kellegram opened #66 "xbrowsersync claims "Invalid credentials""
I have been using xbrowsersync via browser extension for many months now, using the main server for sync. I have the credentials in the password manager and used them many times. I suddenly cannot login with those credentials anymore, been like this for a few weeks now, I was hoping it was a temporary issue, but it's not. I know for a fact the credentials I am using are correct, but it claims they

[2021-09-14 22:36] lapo-luchini commented on #41
I just created a [SQLite-based fork](https://github.com/lapo-luchini/xbrowsersync-cfw/tree/trunk) of the Cloudflare-KV-based fork for (my own) personal usage, in case you prefer it to MongoDB like I do.

[2021-10-02 00:50] finnblue8 opened #67 "Can't make any sync IDs"
Hey there -- love this project, been using it with the official service since May this year and decided to host my own.

I'm using the manual installation method instead of the Docker image because I have another application on the same machine running on port 443 already, and I haven't figured out a way to modify the ports Caddy uses for reverse proxy. I already have SSL certificates for the appl

[2021-11-01 06:37] x09 commented on #41
i use docker, but extension not connected..
create a bug - https://github.com/xbrowsersync/api-docker/issues/19
but silence only

[2021-11-17 21:30] finnblue8 commented on #67
Closing this issue -- after scrapping my whole Node.js/Mongo/XBS setup from when this was posted and starting from scratch the issue has resolved itself. I have no idea what it was nor what I did different that fixed it. The only thing I changed was that I used Node.js LTS 16.13.0 instead of 16.10.

[2021-11-17 21:30] #67 closed

[2021-11-19 14:47] DevPre24 commented on #41
I think it's due to the self signed certificate, get a proper one with let's encrypt.

[2021-12-23 12:02] schittli opened #71 "How can an xBrowserSync host delete data that is no longer used?"
Hello
Thank you very much for sharing your great project and services!

A sync host correctly limits the maximum amount of synchronized data.

But one cannot delete a sync profile manually, I guess. Will the sync host delete old, unused accounts itself, e.g. after 9 months, in order not to store data unnecessarily?

Thanks a lot, kind regards,
Thomas

[2021-12-23 12:22] Adda0 commented on #71
Hey, the service can be configured to delete data which are not **updated** in a specified amount of time. As far as I know, it is usually about 30 days on public instances, from what I have seen. Somewhere, there is a default value for this option, too. So the simplest solution to delete a profile is to stop synchronizing this profile with your devices and after a while, it will be automatically

[2022-02-24 03:37] ghost opened #74 "[Docker images] Create a single user version who use sq-lite for storing."
i think having a sq-lite version of the image for docker who don't call docker-compose (without the need for any manual value added) can be interesting (for user like us who want to use it only for ourselves (with a lock on inscription)).

On a one user instance sq-lite should be sufficient and can help "more user-friendly" docker image.

And for the why it's because i self host on my raspberry-pi

[2022-03-04 04:56] Avinash-Lvs commented on #66
have you stopped using the extension for 21days. If thats the case, it is evident that your account has been deleted automatically.

[2022-03-06 16:52] Kellegram commented on #66
No, it's why I said suddenly. It happened out of nowhere. I wake up, open up my laptop and see that I am not synced. I try to login (100% correct credentials as I use a login manager) and nothing. I haven't used it since this post since I can't really risk losing my bookmarks, I was lucky I had a backup so I only lost some % of the newer ones.

[2022-03-08 11:40] zmbcgn commented on #65
Hi, we are currently using floccus (https://github.com/floccusaddon/floccus) at our team at work (only 15 persons), but having issues with it. We are testing now xbrowsersync as an alternative, and selective folder sync and multiple accounts (syncing the same bookmarks) would be very nice as no one in our time wants to share their whole bookmarks.

[2022-05-09 08:25] Maksym-0xp opened #77 "Feature request: Support Firefox keyword field"
It would be nice if there could be support for additional fields like Firefox's keywords, that let you use bookmarks as "search engines" by entering the keyword followed by a search string.

[2022-05-09 08:33] nero120 commented on #77
Sadly not possible at this time due to Mozilla's lack of ability to support their own products properly!!

(see [this](https://github.com/xbrowsersync/app/issues/401#issuecomment-1120805837) post for the details)

[2022-05-09 08:33] #77 closed, assigned to nobody

[2022-06-03 14:06] dbyers77 opened #78 "Other favorites and Other bookmarks not syncing between Edge and Chrome"
Edge has an "Other favorites" folder while Chrome has an "Other Bookmarks" folder.  How do I get these to sync with Xbrowsersync?
Thank you.

[2022-07-11 22:29] katzeprior commented on #50
Going to look at this when I get around to actually self host this cool project. Might create something simple to show some metrics and statistics.

[2022-07-17 07:23] vsrawat opened #80 "It is not accepting encryption id/ password"
I was on Edge on W11-64 bit and had created browsersync id,

Now I switched to Edge w8-64 bit and when I give my encryption id and password, it is only giving "Back", and "Sync" option is not coming active.

What did I miss? It is asking for a sync id, but I don't think I have any thing other that the above two, at the time of sync. I also checked my mails, and there is no mail from browsersync in

[2022-07-23 02:13] AumCoin opened #81 "node dist/api.js fails with "cannot find module bunyan""
Debian 11, fresh out of the box.  I follow directions and and when I get to `node dist/api.js` it fails with the error below.  The same is true whether I run as root or a normal user.  I have tried various directions on the internet to install bunyan with --save or globally, but this did not affect the result.  I have been through your directions multiple times.  Please tell me how to resolve this

[2022-07-23 03:33] AumCoin commented on #81
Gave up in frustration after spending half a day on this and tried docker-compose by following the directions, then I installed the Firefox client.  I click "switch service" and enter the hostname from my .env file.  First I was using an IP address, then I switched the .env file to hostname and tried that in the client.  In both cases it immediately tells me it cannot connect.  I have no firewall

[2022-07-23 08:11] nero120 commented on #81
You have a missing dependency (bunyan), could be for a myriad of reasons. Go read up on Node.js.

[2022-08-18 15:09] aSapien commented on #66
Same issue here. My old computer died and I was hoping that XBS would save the day. I had lost years of carefully curated bookmarks.

[2022-09-07 11:08] CavaleriOmar opened #83 "Is dead?"
The project is dead? In more than two years no update...

[2022-10-13 14:36] kens-agents commented on #83
Curious about this myself. Any new updates planned?

[2022-10-27 22:27] LordMrcS commented on #83
[Relevant discussion here](https://github.com/xbrowsersync/app/issues/425)

[2022-10-29 16:22] SimonMcN opened #84 "mobile app does not work but windows chrome does"
I have a docker container reverse proxied by nginx proxy manager on port 8080. but using nginx SSL
I'm using split dns but both hosts are connecting to the same place.

eg: xbrowsersync.atmyhome.com

But I'm confused that the desktop is working but the phone doesn't.  The SSL certs are letsencrypt valid and it all works on the desktop

[2022-10-29 16:22] SimonMcN commented on #84
[code]

[2022-10-31 10:53] SimonMcN commented on #84
Maybe I spoke too soon.  Chrome error log

`2022-10-29 13:10:42.630	[trace]	Installed v1.5.2
2022-10-29 13:10:42.633	[trace]	Starting up
2022-10-29 13:10:42.646	[trace]	{"checkForAppUpdates":true,"displayHelp":true,"displayPermissions":true,"syncBookmarksToolbar":true,"appVersion":"1.5.2","platform":{"name":"chrome","version":"106.0.0","mobile":false,"os":"Windows 10"}}
2022-10-29 13:11:03.189	[tr

[2022-11-15 14:01] phpluo opened #85 "How do I change the synchronization interval"
<img width="606" alt="image" src="https://user-images.githubusercontent.com/15026737/201938573-308bc310-6df6-4db2-9d25-4cc68885203d.png">

[2022-11-17 18:55] stefanosandes commented on #66
Same problem here!

[2022-11-22 18:32] retrogamer0815 commented on #66
Same problem here, just wanted to set it up in my browser on a new computer and I get the "invalid credentials" message.
Since someone above asked the question about having stopped usage of the extension for 21 days, this is definitely not the case. It might be, that I didn't add or delete any bookmarks for three weeks, but using the browser with the extension should still count as usage.

But sti

[2022-11-23 14:23] av1934413 opened #86 "C一下！今年这件卫衣很nice"
http://t.csdn.cn/4hnv8

[2022-11-23 14:26] av1934413 opened #87 "肝了半个月，我整理出了这篇嵌入式开发学习学习路线+知识点梳理）"
http://t.csdn.cn/Hi4YH```

[code]